<script defer src="/js/gamelogic.js" type="module"></script>
<script defer src="/js/chooseDeck.js" type="module"></script>
<div class="container-fluid">
  <div class="row">
    <div id="gamecol" class="col-8">
      <div id="playground" class=" h-75 p-3 fixed-top bg-dark">
        <div class="row">
          <div class="col toolscontainer">
            <div class="camera">
              <a href="/call"><img src="/img/icons/camera.png" alt=""></a>
            </div>
            <div id="trashCan">
              <img id="trashIcon" src="/img/icons/delete.png" alt="">
            </div>
          </div>
          <div id="playground-2" class="col-11 ">
            <div class="wrapper 1-col p-3">
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
            </div>
            <div class="wrapper 2-col p-3">
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
              <div class="card-holder m-3 bg-success"></div>
            </div>
          </div>
        </div>
      </div>


      <div id="demo" class="carousel slide  p-3 h-25 fixed-bottom bg-secondary" data-ride="carousel"
        data-interval="10000000">
        <div class="container carousel-inner no-padding ">

          <div class="carousel-item active ">
            {{#each picturePath1}}
            <div class="img-holder m-3 bg-light col-xs-3 col-sm-3 col-md-3">
              <img class="imgScroll1" src='{{this}}' alt="no picture">
            </div>
            {{/each}}
          </div>
          <div class="carousel-item">
            {{#each picturePath2}}
            <div class="img-holder m-3 bg-light col-xs-3 col-sm-3 col-md-3">
              <img class="imgScroll2" src='{{this}}' alt="no picture">
            </div>
            {{/each}}
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>


    </div>
    <div id="vertScroll" data-spy="scroll" data-target="#list-example" data-offset="0"
      class="scrollspy-example col-4 p-3 min-vh-100 bg-secondary">
      <div class="d-flex justify-content-center p-3 ml-5">
        <img id={{deck1Id}} src='{{coverPath}}' style="width: 30%; heigth: 50%">
      </div>
      <div class="d-flex justify-content-center p-3 ml-5">
        <img id={{deck2Id}} src='{{coverPath2}}' style="width: 30%; heigth: 50%">
      </div>
      <div class="d-flex justify-content-center p-3 ml-5">
        <img src='{{coverPath3}}' style="width: 30%; heigth: 50%">
      </div>
      <div class="d-flex justify-content-center p-3 ml-5">
        <img src='{{coverPath4}}' style="width: 30%; heigth: 50%">
      </div>
      <div class="d-flex justify-content-center p-3 ml-5">
        <img src='{{coverPath5}}' style="width: 30%; heigth: 50%">
      </div>
      <div class="d-flex justify-content-center p-3 ml-5">
        <img src='{{coverPath6}}' style="width: 30%; heigth: 50%">
      </div>
      <div class="d-flex justify-content-center p-3 ml-5">
        <img src='{{coverPath7}}' style="width: 30%; heigth: 50%">
      </div>
    </div>
  </div>

</div>